@inherits LayoutComponentBase

<PageTitle>MissionLensDashboard</PageTitle>

<div class="page bg-gray">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        
        <article class="content px-3 rounded mx-1 my-2 bg-background border-main">
            @Body
        </article>
    </main>
</div>
