@using Microsoft.AspNetCore.Components.Routing
@using MissionLensDashboard.Data

<nav aria-label="breadcrumb">
    <ol class="breadcrumb flex flex-wrap items-center gap-1.5 break-words text-decoration-none text-xs text-muted-foreground">
        @foreach (var item in Items)
        {
            if (item.IsActive)
            {
                <li class="breadcrumb-item active" aria-current="page">@item.Title</li>
            }
            else
            {
                <li class="breadcrumb-item text-black">
                    <NavLink class="text-decoration-none text-black" href="@item.Url">@item.Title</NavLink>
                </li>
            }
        }
    </ol>
</nav>

@code {
    [Parameter] public List<BreadcrumbItem> Items { get; set; } = new();
}
